<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nectar.timeby" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".gui.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".gui.RegisterPhoneActivity"
            android:label="@string/title_activity_register_phone" />
        <activity
            android:name=".gui.NotifyActivity"
            android:label="@string/title_activity_notify"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:name=".gui.MainSoloActivity"
            android:label="@string/title_activity_main_single" />
        <activity
            android:name=".gui.MainCooperActivity"
            android:label="@string/title_activity_main_copper" />
        <activity
            android:name=".gui.MainPKActivity"
            android:label="@string/title_activity_main_pk" />
        <activity
            android:name=".gui.UserInfoActivity"
            android:label="@string/title_activity_user_info" />
        <activity
            android:name=".gui.UserInfoEditActivity"
            android:label="@string/title_activity_user_info_edit" />
        <activity
            android:name=".gui.SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".gui.SettingPasswordActivity"
            android:label="@string/title_activity_reset_password" />
        <activity
            android:name=".gui.SettingNotifyActivity"
            android:label="@string/title_activity_setting_notify" />
        <activity
            android:name=".gui.SettingShareActivity"
            android:label="@string/title_activity_setting_share" />
        <activity
            android:name=".gui.SettingFeedbackActivity"
            android:label="@string/title_activity_setting_feedback" />
        <activity
            android:name=".gui.AddFriendActivity"
            android:label="@string/title_activity_add_friend" />
        <activity
            android:name=".gui.AddFriendsByMaillistActivity"
            android:label="@string/title_activity_add_friends_by_maillist" />
        <activity android:name=".gui.ReportActivity" />
        <activity android:name=".gui.MainConcludeActivity" />

        <service
            android:name=".service.BackgroundService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".service.BootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.ScreenOnReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.IncomingCallReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".gui.FriendsActivity"
            android:label="@string/title_activity_friends" >
        </activity>
    </application>

</manifest>
